<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Sistema de Gestão</title>
    </head>
    <body>
        <h1>Sistema de Gestão</h1>
        <p>Bem-vindo ao sistema da sua loja!</p>
        <nav>
            <ul>
                <li><a href="/produtos"></a>Cadastro de Produtos</li>
                <li><a href="/vendas"></a>Registrar Vendas</li>
                <li><a href="/estoque"></a>Estoque</li>
                <li><a href="/metricas"></a>Métricas</li>
            </ul>
        </nav>
    </body>
</html>